<ion-view view-title='Dad'>
  <ion-content>
    <h1>Dad's Health Tracker</h1>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date">
      </label>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Blood Pressure">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Pulse">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>
      <div class="item item-input-inset">
        <label class=" item-input-wrapper">
          <input type="text" placeholder="Nutrition Data">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>
      <div class="item item-input-inset">
        <label class="item item-wrapper">
          <input type="text" placeholder="How Do You Feel?">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>

      <div class="list">
        <div class="item item-divider">
          Perscriptions
        </div>

        <a class="item item-thumbnail-left" href="#">
          <img src="">
          <h3>BP med</h3>
          <p>Take with food</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="">
          <h3>BP med</h3>
          <p>Take with food</p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="">
          <h3>BP med</h3>
          <p>Take with food</p>
        </a>

        <div class="item item-divider">
          Supplements/Vitamins
        </div>

        <a class="item item-thumbnail-left" href="#">
          <img src="">
          <h3></h3>Calcium
          <p>Take with food</p>
        </a>
      </div>

  </ion-content>
</ion-view>


