<ion-view view-title="Kid">
  <ion-content>
    <h1>Kid's Health Tracker</h1>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date">
      </label>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="IBS Issues">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Exercise Time">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>
      <div class="item item-input-inset">
        <label class="item item-wrapper">
          <textarea placeholder="How's Your Stomach?"></textarea>
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>
      <div class="item item-input-inset">
        <label class="item item-wrapper">
          <textarea placeholder="What have you been eating?"></textarea>
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>
      <div class="list">
        <div class="item item-divider">
          Perscriptions
        </div>

        <a class="item item-thumbnail-left" href="#">
          <img src="">
          <h3>Acne med</h3>
          <p>Take twice daily</p>
        </a>

        <div class="item item-divider">
          Supplements/Vitamins
        </div>

        <a class="item item-thumbnail-left" href="#">
          <img src="">
          <h3>Calcium</h3>
          <p>Take with food</p>
        </a>
      </div>
  </ion-content>
</ion-view>






<!-- <ion-view view-title="Browse">
  <ion-content>
    <h1>Browse</h1>
  </ion-content>
</ion-view>
 -->
