<ion-view view-title="Search">
  <ion-content>
    <h1>Mom's Health Tracker</h1>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date">
      </label>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Blood Sugar">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Exercise Time">
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>
      <div class="item item-input-inset">
        <label class="item item-wrapper">
          <textarea placeholder="How Do You Feel?"></textarea>
        </label>
        <button class="button button-small">
          Submit
        </button>
      </div>

  </ion-content>
</ion-view>






<!-- <ion-view view-title="Browse">
  <ion-content>
    <h1>Browse</h1>
  </ion-content>
</ion-view>
 -->
